.parent{
    height: 500px;
    width: 500px;
    background-color: aqua;
}

.child{
    height: 400px;
    width: 400px;
    background-color: brown;

}


.innerChild{
    height: 300px;
    width: 300px;
    background-color: royalblue;
}

